@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* VARIABLES PARA COLORES */

:root {
    /* Primary colors */
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);

    /* Neutral colors */
    --neutral-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
  }

  /* FONTS */
    /* 
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif; 
    */


    .contenedorPrincipal {
        background-color: var(--primary-cream);
        width: 375px;
        height: 665px;
        margin: 0 auto;
        padding: 25px 15px;


    }

        .contenedorImagen{
            
        }
            .imagenPrincipal {
                width: 100%;
                max-height: 240px;
                object-fit: cover;
                border-radius: 10px 10px 0 0 ;
                
            }

    
        .contenedorTexto{
            width: 100%;
            height: 370px;
            background-color: var(--neutral-white);
            margin-top: -5px;
            border-radius: 0 0 10px 10px;
            
            
            


        }

            h1{
                font-family: 'Montserrat', sans-serif;
                
                font-size: 12px;
                padding: 25px 0 10px 25px;
                opacity: .5;
                letter-spacing: 4px;

            
                 
            }

            h2{
                font-family: 'Fraunces', serif;
                font-weight: bold;
                font-size: 30px;
                padding: 0 25px;
                

                

            }

            .texto{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                padding: 15px 25px 5px 25px;
                opacity: .5;
                line-height: 1.5;
                
            }

            .precioReal{
                font-family: 'Fraunces', serif;
                color: var(--primary-dark-cyan);
                font-size: 32px;
                padding: 15px 25px;
                display: flex;
                flex-direction: row;
                align-items: center;

            }

            span{
                font-family: 'Fraunces', serif;
                color: black;
                font-size: 12px;
                padding: 0 20px;
                opacity: .5;
                text-decoration: line-through;
                
            }

            .contenedorBoton{
                display: flex;
                justify-content: center;

            }

            button {
                width: 295px;
                height: 50px;
                border-radius: 10px;
                border: none;
                background-color: var(--primary-dark-cyan);
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 14px;
                color: var(--neutral-white);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;   
                
            }

            

            svg{
                margin: 0 10px;
            }




/* Estilos para pantallas más grandes */
@media (min-width: 800px) {

    body {
        background-color: var(--primary-cream);
        
        margin: auto;
    }
    .contenedorPrincipal {
        width: 600px;
        height: 450px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 10px;
        margin: 50px auto;
        
        

    }

    .contenedorImagen {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
        
      }
      
      .imagenPrincipal {
        max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
        max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
        height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
        border-radius: 10px 0 0 10px;
      }


    .contenedorTexto{
        width: 300px;
        height: 100%;
        margin-top: 0;
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto{
        padding: 15px 25px 5px 15px;
       
        
    }

    

    button {
        width: 230px;  
    }
   
  
  }




    .attribution { 
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%); 
    }


    